<!DOCTYPE html>
<html>
<head>

    <title>Leaflet.FreeDraw</title>

    <!-- Aesthetics! -->
    <link rel="stylesheet" type="text/css" href="css/Default.css" />
    <link rel="stylesheet" type="text/css" href="js/vendor/leaflet/dist/leaflet.css" />

    <!-- Behaviour! -->
    <script type="text/javascript" src="js/vendor/d3/d3.js"></script>
    <script type="text/javascript" src="js/vendor/evispa-timo-jsclipper/clipper_unminified.js"></script>
    <script type="text/javascript" src="js/vendor/graham_scan/graham_scan.min.js"></script>
    <script type="text/javascript" src="js/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="js/vendor/hammerjs/hammer.js"></script>
    <script type="text/javascript" src="js/vendor/concavehull/dist/concavehull.js"></script>
    <script type="text/javascript" src="js/vendor/leaflet/dist/leaflet-src.js"></script>
    <script type="text/javascript" src="js/vendor/leaflet.freedraw/FreeDraw.js"></script>
    <script type="text/javascript" src="js/vendor/leaflet.freedraw/Options.js"></script>
    <script type="text/javascript" src="js/vendor/leaflet.freedraw/Utilities.js"></script>
    <script type="text/javascript" src="js/vendor/leaflet.freedraw/Memory.js"></script>
    <script type="text/javascript" src="js/vendor/leaflet.freedraw/Hull.js"></script>

    <!-- Application! -->
    <script type="text/javascript" src="js/Example.js"></script>

</head>
<body ng-app="leafletApp" ng-controller="MapController">

    <section class="map" data-mode="mode">

        <!--<ul class="controls">-->

            <!--<li ng-class="{ disabled: isDisabled(MODES.CREATE) }"-->
                <!--ng-click="toggleMode(MODES.CREATE)">-->
                <!--<img src="images/drawing10.png" />-->
            <!--</li>-->

            <!--<li ng-class="{ disabled: isDisabled(MODES.EDIT_APPEND) }"-->
                <!--ng-click="toggleMode(MODES.EDIT_APPEND)">-->
                <!--<img src="images/map81.png" />-->
            <!--</li>-->

            <!--<li ng-class="{ disabled: isDisabled(MODES.DELETE) }"-->
                <!--ng-click="toggleMode(MODES.DELETE)">-->
                <!--<img src="images/close3.png" />-->
            <!--</li>-->

        <!--</ul>-->

    </section>

</body>
</html>