* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section.map {
    width: 100vw;
    height: 100vh;
}

svg.free-draw {
    position: relative;
    z-index: 1001;
    pointer-events: none;
}

path.leaflet-line {
    stroke: #D7217E;
    stroke-width: 2;
}

div.leaflet-edge {
    background-color: #D7217E;
    box-shadow: 0 0 0 2px white, 0 0 10px rgba(0, 0, 0, .35);
    border: 5px solid #D7217E;
    border-radius: 50%;
    cursor: move;
    outline: none;
}

path.leaflet-polygon {
    fill: #D7217E;
    stroke: #D7217E;
    fill-opacity: .75;
}
