
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'),
      url('MaterialIcons-Regular.woff2') format('woff2'),
      url('MaterialIcons-Regular.woff') format('woff');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
  
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  }

  .edit-mode-buttons-container {
    position: absolute;
    width: 50px;
    z-index: 400;
    top: 110px;
    border-radius: 0 2px 2px 0;
    background-color: white;
    box-shadow: 0 0 1px 0 rgba(9, 30, 66, 0.5),
      0 6px 10px 2px rgba(9, 30, 66, 0.3);
  }

  .undo-redo-buttons-container {
    position: absolute;
    width: 50px;
    z-index: 400;
    top: 10px;
    margin-left: -70px;
    border-radius: 0 2px 2px 0;
    background-color: white;
    box-shadow: 0 0 1px 0 rgba(9, 30, 66, 0.5),
      0 6px 10px 2px rgba(9, 30, 66, 0.3);
  }

  .edit-mode-button {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--gray-4);
  }

  .edit-mode-button:hover {
    color: var(--blue-2);
  }
