section.planes {
    position: absolute;
    z-index: 4000;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section.planes img.plane {
    position: absolute;
}

@-webkit-keyframes rotation {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

/* First Plane */

section.planes img.plane.first {
    width: 48px;
    transform: translate(-200px, 250px) rotate(43deg);
    -webkit-animation: first 15s infinite linear;
}

@-webkit-keyframes first {
    20% { transform: translate(0, 250px) rotate(43deg) scale(1); }
    40% { transform: translate(300px, 250px) rotate(43deg) scale(1.2); }
    60% { transform: translate(600px, 250px) rotate(43deg) scale(0.6); }
    80% { transform: translate(900px, 250px) rotate(43deg) scale(0.6); }
    100% { transform: translate(1200px, 250px) rotate(43deg) scale(0.8); }
}

/* Second Plane */

section.planes div.rotate.first {
    position: absolute;
    z-index: 40001;
    height: 500px;
    top: -60px;
    left: -50px;
    width: 55px;
    -webkit-animation: rotation 15s infinite;
}

section.planes div.rotate.first img.plane {
    width: 40px;
    -webkit-transform: rotate(90deg);
}

/* Third Plane */

section.planes img.plane.third {
    transform: translate(1400px, 1200px) rotate(275deg);
    width: 42px;
    -webkit-animation: third 20s infinite linear;
}

@-webkit-keyframes third {
    25% { transform: translate(1000px, 800px) rotate(275deg) scale(1); }
    50% { transform: translate(600px, 400px) rotate(275deg) scale(0.85); }
    75% { transform: translate(200px, 0px) rotate(275deg) scale(1.2); }
    100% { transform: translate(-200px, -400px) rotate(275deg) scale(0.8); }
}

/* Fourth Plane */

section.planes div.rotate.second {
    position: absolute;
    z-index: 40001;
    height: 500px;
    top: 500px;
    right: 25%;
    width: 55px;
    -webkit-animation: rotation 15s infinite linear;
}

section.planes div.rotate.second img.plane {
    width: 48px;
    -webkit-transform: rotate(45deg);
}